.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subBox {
  max-width: 550px;
}

.h1 {
  font-size: 90px;
  font-weight: 600;
}

.p {
  font-size: 24px;
  font-style: italic;
  color: var(--text-color-2);
}

.imageBox {
  width: 400px;
  height: 400px;
  text-align: center;
  padding: 10px;
  border: 1px solid var(--color-1);
  border-radius: 50%;
}

.image {
  width: 380px;
  height: 380px;
}
